---
// Copyright 2021-2026 The Connect Authors
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

import { Code } from "astro-expressive-code/components";
import { ElizaDemo } from "../eliza-demo";
import styles from "./Examples.module.css";

const curlSnippet = `$ curl \\
    --header 'Content-Type: application/json' \\
    --data '{"sentence": "I feel happy."}' \\
    https://demo.connectrpc.com/connectrpc.eliza.v1.ElizaService/Say
---
{"sentence": "Feeling happy? Tell me more."}`;

const grpcSnippet = `$ grpcurl \\
    -d '{"sentence": "I feel happy."}' \\
    demo.connectrpc.com:443 \\
    connectrpc.eliza.v1.ElizaService/Say
---
{"sentence": "Feeling happy? Tell me more."}`;
---

<div class={styles.container}>
  <div class={`container ${styles.exampleContainer}`}>
    <div class={styles.exampleTextContainer}>
      <p class={styles.exampleHeader}>Use it with <span>Curl</span></p>
      <p class={styles.exampleText}>Supports any HTTP client</p>
    </div>
    <div class={styles.codeBlockWrapper}>
      <Code code={curlSnippet} lang="bash" frame="terminal" meta='title="Plain HTTP"' />
    </div>
  </div>

  <div class={`container ${styles.exampleContainer}`}>
    <div class={styles.exampleTextContainer}>
      <p class={styles.exampleHeader}>Use it with <span>gRPCurl</span></p>
      <p class={styles.exampleText}>Supports any gRPC client</p>
    </div>
    <div class={styles.codeBlockWrapper}>
      <Code code={grpcSnippet} lang="bash" frame="terminal" meta='title="gRPC protocol"' />
    </div>
  </div>

  <div class={`container ${styles.exampleContainer}`}>
    <div class={styles.exampleTextContainer}>
      <p class={styles.exampleHeader}>
        Use it in <span>web browsers</span>
      </p>
      <div class={styles.elizaExample}>
        <p class={styles.exampleText}>
          Supports React, Angular, Svelte, and other frameworks
        </p>
      </div>
    </div>
    <div class={styles.codeBlockWrapper}>
      <ElizaDemo client:load />
    </div>
  </div>
</div>
